.container {
    margin: 20px;
}

mat-form-field {
    width: 600px;
    margin-right: 10px;
}

button {
    margin-top: 10px;
}

.execute-container {
    text-align: center;
    margin-right: 150px;
}

.result-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.result-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-content {
    font-size: 16px;
    line-height: 1.6;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.card {
    margin-bottom: 20px;
}